* {
  transition-duration: 0.3s;
  letter-spacing: 0.5px;
}
#link {
  text-decoration: none;
}

.disable {
  display: none;
}
.jumbotron {
  border-radius: 0px;
}

header.jumbotron {
  text-align: left;
  background-image: url(https://res.cloudinary.com/tzuhsin/image/upload/v1566394662/beach_qheo2v.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  margin-bottom: 0px;
  height: 800px;
}
header.jumbotron .container {
  padding: 200px 0px;
}
header.jumbotron hr {
  max-width: 50px;
  border: solid 2px #fc5185;
}
header.jumbotron h1 {
  letter-spacing: 2px;
  color: #364f6b;
}
header.jumbotron .line {
  width: 60px;
  height: 5px;
  background-color: #fc5185;
  margin-top: 20px;
  margin-bottom: 30px;
}
header.jumbotron h5 {
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 1px;
}

section {
  padding: 40px 0px;
}

section#section_route {
  background-color: #5bd6c8;
  color: #444;
}
section#section_route .col-sm-5.img {
  background-image: url(https://cdn.pixabay.com/photo/2018/01/31/05/43/web-3120321_1280.png);
  height: 300px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
section#section_route .col-sm-7 {
  text-decoration: none;
  padding-left: 40px;
  text-align: left;
  color: #444;
}
section#section_route h2 {
  padding: 20px 0px;
}
//
section#section_recomend {
  padding: 30px 40px;
  color: #364f6b;
}
section#section_recomend h5 {
  margin-top: 10px;
  margin-bottom: 20px;
}
section#section_recomend #food {
  background-image: url("https://cdn.pixabay.com/photo/2017/06/16/18/35/tarte-2409958_1280.jpg");
}
section#section_recomend #hotel {
  background-image: url("https://cdn.pixabay.com/photo/2016/04/15/11/45/hotel-1330841_1280.jpg");
}
section#section_recomend #spot {
  background-image: url("https://www.penghu-nsa.gov.tw/FileDownload/Scenery/Big/20160907103937579129421.jpg");
}
section#section_recomend #store {
  background-image: url("https://cdn.pixabay.com/photo/2017/04/13/15/19/hands-2227857_1280.jpg");
}
section#section_recomend .img_wrap {
  height: 200px;
  margin: 20px 0px;
  overflow: hidden;
  border-radius: 20px;
  background-size: cover;
}
section#section_recomend .img_wrap:hover h4 {
  opacity: 1;
}
section#section_recomend .img_wrap:hover .black {
  opacity: 0.4;
}
section#section_recomend .img_wrap h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: #fff;
  letter-spacing: 2px;
  background-color: rgba(0, 0, 0, 0.4);
}

section#section_test {
  background-color: #364f6b;
  color: #fff;
  padding: 0px;
}
section#section_test .container {
  padding: 30px 20px;
}
section#section_test hr {
  border: solid 1px;
}
section#section_test .col-sm-12.col-md-5 {
  background-color: #fff;
  background-image: url(https://cdn.pixabay.com/photo/2017/06/08/17/52/compass-2384365_1280.png);
  background-repeat: no-repeat;
  height: 400px;
  background-size: contain;
  background-position: center center;
}
section#section_test .col-sm-12.col-md-7 {
  text-align: center;
}
section#section_test .col-sm-12.col-md-7 i {
  font-size: 40px;
  padding: 15px;
}
section#section_test .col-sm-12.col-md-7 p {
  text-align: left;
}
section#section_test .row {
  margin: 0px;
}
section#section_test .row.features {
  margin: 30px 0px;
}
section#section_test .btn {
  background-color: #fff;
  color: #364f6b;
  letter-spacing: 1px;
  border-radius: 35px;
}
section#section_test .btn:hover {
  opacity: 0.8;
}

section#section_like {
  color: #444;
}
section#section_like .sec1, .sec2  {
  text-align: left;
}
section#section_like h2 {
  letter-spacing: 2px;
}
section#section_like h3 {
  display: inline;
  color: #444;
}
section#section_like p {
  color: #444;
}
section#section_like .col-sm-12 {
  padding: 0px 40px;
}
section#section_like img {
  width: 100%;
}
section#section_like i {
  font-size: 30px;
  padding: 20px 10px;
  color: #fc5185;
}

footer.jumbotron {
  color: #444;
  text-align: center;
  background-image: url(https://cdn.pixabay.com/photo/2019/04/19/09/46/holiday-4138980_1280.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  margin-bottom: 0px;
}
footer.jumbotron .container {
  padding: 30px 0px;
}
footer.jumbotron hr {
  max-width: 50px;
  border: solid 2px #fc5185;
}
footer.jumbotron .btn {
  letter-spacing: 2px;
  color: #fc5185;
  background-color: rgba(255, 255, 255, 0.6);
}
footer.jumbotron .btn:hover {
  background-color: #fff;
}
footer.jumbotron input {
  margin-top: 20px;
  background-color: transparent;
  max-width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: solid 1px #fc5185;
}

@media screen and (max-width: 576px) {
  section#section_recomend .img_wrap h4 {
    opacity: 1;
  }
  section#section_recomend .img_wrap .black {
    opacity: 0.4;
  }
}
